body {
    background-color: rgb(253, 227, 231);
}
h1 {
    font-size: 60:large;
    font color:grey;
    text-align:center;
}
img {
    div.polaroid {
        width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      
      img {width: 100%}
      
      div.container {
        text-align: center;
        padding: 20px 20px;
      }

footer {
    font-color:grey;
    text-align: center;
}

.card {
    text-align: center;
}